<div class="container">
  <div class="box">
    <cdk-virtual-scroll-viewport
    [itemSize]=tamanhoLinha
    [minBufferPx]="50"
    [maxBufferPx]="200"
    >
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr *cdkVirtualFor="let row of tableData; trackBy: trackByFn">
            <td>{{row.id}}</td>
            <td>{{row.nome}}</td>
          </tr>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
</div>